{% extends "layout.html" %} 
<!-- This HTML will load the mainly file and change just the block content part-->

{% block content %}
{% include 'navbar.html' %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width:60em">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Inquilinos cadastrados</h3>
                  
                      {% if tenants %}
                      {% for tenant in tenants %}
                      <div class="card text-center mb-3">
                        <div class="card-header">
                          <h5 class="card-title">{{tenant.name}} </h5>
                        
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-6">
                              <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item"><p class="lead">Valor do aluguel: {{tenant.payment}}</p> </li>
                                <li class="list-group-item"><p class="lead">Mês de entrada: {{tenant.entry}}</p></li>
                                
                              </ul>
                            </div>

                            <div class="col-md-6">
                              <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item"><p class="lead">Dia de Vencimento: {{tenant.expiration}}</p></li>
                                <li class="list-group-item"><p class="lead">Status: {{tenant.activate}}</p></li>
      
                              </ul>
                            </div>
                          </div>
                        
                        <a href="{{url_for('webui.tenant.updatetenant', id=tenant.id)}}" class="btn btn-sm btn-outline-info"> Edit</a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{tenant.id}}">
                          Delete
                        </button>
                        </div>
                      </div>


                        <!--============= MODEL ===================-->
<div class="modal fade" id="exampleModal-{{tenant.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ tenant.name }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-danger">Are you Sure that you want to delete this brand ({{ tenant.name }}) </p>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <form action="{{url_for('webui.tenant.deletetenant',id=tenant.id)}}" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  
</div>
</div>
</div>
</div>

<!--============= MODEL ===================-->

                      {% endfor %}
                      {% endif %}
                  <a href="{{url_for('webui.tenant.add_tenant')}}">Adicionar Inquilino</a>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
    </section>
      
  

{% endblock content %}