{% extends "layout.html" %} 
<!-- This HTML will load the mainly file and change just the block content part-->

{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        {% from "_formhelpers.html" import render_field %}
        {% include '_messages.html' %}
        <form class="form-signin" action="" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div>
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <a class="btn btn-lg btn-warning btn-block mt-3" href="{{url_for('webui.customer.register')}}">Register</a>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}